
/* reset styles */

* {
  margin: 0px;
  padding: 0px;
}

/* begin styles */

body {
	color: black;
	background: white;
	font-size: 20px;
	padding: 20px;
}

h1, h2, h3, p {
	font-size: 20px;
	font-weight: normal;
}

div {
	margin: 20px;
}